# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.vcxproj.vpc_crc
*.vcxproj.bak
*.sln
*.pdb

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
*.project
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak
src/thirdparty/angelscript_2.32.0/sdk/_vpc_/manifest_angelscript/linux64/manifest.txt
src/thirdparty/angelscript_2.32.0/sdk/_vpc_/manifest_angelscript/win64/manifest.txt

# Specific Source build products
[Rr]elease*/
[Dd]ebug*/
game/bin
#game/*/bin
#src/_vpc_/*
#src/game/client/_vpc_/*
#src/game/server/_vpc_/*
#src/materialsystem/stdshaders/_vpc_/*
#src/raytrace/_vpc_/*
#src/thirdparty/angelscript_2.32.0/sdk/_vpc_/*
#src/tier1/_vpc_/*
#src/vscript/_vpc_/*

# Manual override of bin folder
client.dll
client.so
client.pdb
server.dll
server.so
server.pdb
vscript.dll
vscript.so
vscript.pdb

# generated protobuf sources
generated_proto*/

# library files
mathlib.lib
mathlib.a
mathlib.pdb
raytrace.lib
raytrace.a
raytrace.pdb
tier1.lib
tier1.a
tier1.pdb
vgui_controls.lib
vgui_controls.a
vgui_controls.pdb
angelscript.lib
angelscript.a
angelscript.pdb

# misc files
fgdlib.lib
src/utils/sapi51/Samples/VB/TTSAppVB/ttsapp.RES
vc120.pdb
vc140.pdb
*.VC.*
src/Output-Build.txt
src/utils/vvis_launcher/vvis_launcher.vpc.sentinel
*.vpc.sentinel
*_nut.h
*.vpc_cache
*.vpc_crc


# Files to ignore when considering what GIT should commit.
.DS_Store

# cache
cache/*
maps/soundcache/*
maps/graphs/*
materials/temp/*
sound/temp/*
sound.cache
*.sound.cache
modelsounds.cache

# crash dumps
*.dmp

# config files
game/*/cfg/sourcemod/*
game/*/cfg/autoexec_user.cfg
game/*/cfg/banned_ip.cfg
game/*/cfg/banned_user.cfg
game/*/cfg/config.cfg
game/*/cfg/server_blacklist.txt
game/*/cfg/server.cfg
game/*/cfg/user.scr
game/*/cfg/settings.scr
game/*/settings/admins.txt
ServerConfig.vdf

# logs
game/*/logs/*
console.log

# demo records
*.dem

# user stuff
game/*/cfg/pet.txt
game/*/download/*
game/*/downloadlists/*
game/*/SAVE/*
game/*/screenshots/*
demoheader.tmp
stats.txt
gamestate.txt
voice_ban.dt
textwindow_temp.html
viewed.res
tf2_playerstats.dmx
tf_inventory.txt
game/*/vpk/*
game/*/demos/*
game/*/materials/vgui/logos/ui/*
game/*/materials/vgui/logos/ui/andre.vmt
game/*/materials/vgui/logos/ui/chick1.vmt
game/*/materials/vgui/logos/ui/spray_dog.vmt
game/*/materials/vgui/logos/ui/spray_elited.vmt
game/*/materials/vgui/logos/ui/spray_flashbanged.vmt
game/*/materials/vgui/logos/ui/spray_kamikazi.vmt
*.db

# content source
materialsrc/*
soundsrc/*
mapsrc/*.log

# source plugins
game/*/addons/*

# Ignore user custom assets
game/*/custom/*

# faceposer stuff
game/*/expressions/*

# shader files
*.tmp

# map compile products
*.prt

# migration blocks
*.vpk
*.ain

# caches
*/.vs/*
src/materialsystem/stdshaders/fxctmp9_tmp/*
src/materialsystem/stdshaders/vshtmp9_tmp/*
src/materialsystem/stdshaders/pshtmp9_tmp/*
src/materialsystem/stdshaders/fxctmp9/*
src/materialsystem/stdshaders/vshtmp9/*
src/materialsystem/stdshaders/pshtmp9/*
src/materialsystem/stdshaders/fxctmp9_360_tmp/*
src/materialsystem/stdshaders/vshtmp9_360_tmp/*
src/materialsystem/stdshaders/pshtmp9_360_tmp/*
src/materialsystem/stdshaders/pshtmp9_360_tmp/*
src/materialsystem/stdshaders/shaders/*
src/materialsystem/stdshaders/filestocopy.txt
src/materialsystem/stdshaders/inclist.txt
src/materialsystem/stdshaders/filelistgen.txt
src/materialsystem/stdshaders/filelist.txt
/.trae
src/launcher_main/_vpc_/manifest_launcher_main_tf/win64/manifest.txt
src/vscript/_vpc_/manifest_vscript/win64/manifest.txt
src/tier1/_vpc_/manifest_tier1/win64/manifest.txt
src/msbuild_compile_output.txt
src/lib/public/x64/matsys_controls.lib
